.mainheader, .subheader, .maintxt, .links {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #24273a;
}
.mainheader {
    color: #b8c0e0;
    background-color: 
}

.subheader {
    color: #a5adcb;
}

.maintxt {
    color: #cad3f5;
}

.links {
    color: #f5bde6;
}

.pics {
    width: 300px;
    height: auto;
}
